#### Project 1 : data conversion to csv file 
1. Sise2local.ALL_CMDT.0213 file의 A0016 code에서, 3년 국채(BM3)이면서 최근월물(spec의 상품선물_종목정보 데이터[A0016]의 40번인 결제월 번호가 001)인 처음으로 filtering되는 상품code를 찾아야 합니다. 예로, 그 code가 KR4165N30007이면, 변수 product_ID로 저장하고
2. (product_ID & A3016모두 포함) 또는 (product_ID & G7016 모두 포함)하고 있는 row만 순서대로 filtering 하여, 새로운 csv file을 생성하여, 첫 row에는 “시간,현재가,체결수량,매도1호가,매수1호가,최종매도매수,총잔량매도,총잔량매수”를 write하고, 그 아래 row부터, filtering된 A3016 및 G7016이 순서대로 write되는 code를 만들어보자.

In [2]:
# data 받기
import pandas as pd
data = pd.read_csv('CMDT.csv' , 'r' , parse_dates = True , header = None , encoding = 'ISO-8859-1')
pd.set_option('display.max_colwidth', -1) # untruncate the row to better understand the data structure

In [4]:
# 데이타 구조 파악하기 
a = data[0][1]
print(a[:17], "시간")
print(a[17:22], "code")
print(a[425:428], "bond tpy")
print(a[471:474] , "001")
print(a[35:46], "product ID")

[06:34:45-746774] 시간
A0016 code
BM3 bond tpy
002 001
KR4165N6000 product ID

In [5]:
# A0016 code & 3년 국채(BM3)
# regex 사용해서 product ID 뽑기
# ls has two unique product IDs 
import re
initial_filter = []
p = "A0016.*BM3.{43}001"
for i in range(len(data[0])) : 
    if re.findall(p , data[0][i])!=[] : 
        initial_filter.append(data[0][i][35:46])
ls = list(set(initial_filter))

In [6]:
# filtering (product_ID & A3016) | (product_ID & G7016)
result = pd.DataFrame(columns= ["시간", "현재가", "체결수량", "매도1호가", "매수1호가", "최종매도매수", "총잔량매도", "총잔량매수"])
def sf(s):
    if (s[17:22] == "A3016") and (s[22:33] in ls):
        result.loc[len(result)] =  {"시간" : s[:17], "현재가" : int(s[40:48]), "체결수량" : int(s[48:54]), "매도1호가" : None , "매수1호가" : None,  "최종매도매수" : s[152], "총잔량매도" : None, "총잔량매수" : None}
def tf(s):
    if (s[17:22] == "G7016") and (s[22:33] in ls):
        result.loc[len(result)] =  {"시간" : s[:17], "현재가" : int(s[40:48]), "체결수량" : int(s[48:54]), "매도1호가" :  int(s[243:251]) , "매수1호가" :  int(s[161:169]),  "최종매도매수" : int(s[152]), "총잔량매도" :  int(s[235:242]), "총잔량매수" :  int(s[155:160])}
data[0].apply(sf)
data[0].apply(tf)
result

                     시간    현재가  체결수량  매도1호가  매수1호가 최종매도매수  총잔량매도  총잔량매수
0     [09:00:00-023432]  10751  1482  None   None          None   None
1     [09:00:18-013067]  10751  1     None   None   2      None   None
2     [09:01:06-567719]  10751  45    None   None   2      None   None
3     [09:02:32-516428]  10752  3     None   None   2      None   None
4     [09:07:09-057341]  10753  68    None   None   1      None   None
5     [09:07:09-122564]  10753  4     None   None   1      None   None
6     [09:07:59-690384]  10753  84    None   None   2      None   None
7     [09:07:59-721388]  10753  3     None   None   1      None   None
8     [09:23:36-552679]  10752  52    None   None   2      None   None
9     [09:40:12-972686]  10751  65    None   None   1      None   None
10    [09:49:57-812046]  10750  1     None   None   2      None   None
11    [09:52:10-467481]  10750  105   None   None   2      None   None
12    [09:52:10-488544]  10750  3     None   None   1      None   None
13    [09:53:12-088168]  10750  225   None   None   1      None   None
14    [09:54:13-389536]  10750  11    None   None   2      None   None
15    [09:57:14-281790]  10751  24    None   None   1      None   None
16    [10:00:14-135473]  10751  86    None   None   2      None   None
17    [10:11:04-083820]  10752  30    None   None   1      None   None
18    [10:11:40-428229]  10752  54    None   None   2      None   None
19    [10:20:10-902511]  10752  5     None   None   1      None   None
20    [10:22:21-938175]  10752  43    None   None   1      None   None
21    [10:22:22-308256]  10752  3     None   None   1      None   None
22    [10:23:10-180687]  10752  98    None   None   1      None   None
23    [10:47:23-643628]  10751  70    None   None   2      None   None
24    [11:16:57-148001]  10751  76    None   None   1      None   None
25    [11:20:09-611408]  10751  43    None   None   2      None   None
26    [11:32:53-945593]  10751  124   None   None   2      None   None
27    [11:32:53-968094]  10751  3     None   None   1      None   None
28    [11:34:29-623129]  10751  8     None   None   1      None   None
29    [11:36:02-152161]  10751  56    None   None   2      None   None
...                 ...    ...  ..     ...    ...  ..       ...    ...
1826  [15:33:03-124596]  10760  100   10760  10759  2      8837   19641
1827  [15:33:32-607302]  10759  105   10760  10759  1      9139   19958
1828  [15:33:44-770344]  10760  1     10760  10759  2      10398  19931
1829  [15:33:52-146974]  10759  20    10760  10759  1      10398  19711
1830  [15:33:54-098266]  10760  1     10760  10759  2      10397  19711
1831  [15:33:57-157748]  10760  2     10760  10759  2      10495  19511
1832  [15:33:59-922926]  10759  1     10760  10759  1      10495  19538
1833  [15:34:02-566389]  10760  1     10760  10759  2      10704  19546
1834  [15:34:02-689024]  10759  10    10760  10759  1      10794  19536
1835  [15:34:02-803769]  10760  1     10760  10759  2      10793  19536
1836  [15:34:03-418205]  10760  1     10760  10759  2      10792  19536
1837  [15:34:03-640065]  10760  1     10760  10759  2      10791  19536
1838  [15:34:04-379396]  10760  1     10760  10759  2      10790  19536
1839  [15:34:04-898186]  10760  1     10760  10759  2      10789  19536
1840  [15:34:05-343704]  10760  1     10760  10759  2      10788  19536
1841  [15:34:06-025712]  10760  1     10760  10759  2      10787  19536
1842  [15:34:18-911380]  10760  2     10760  10759  2      10885  19346
1843  [15:34:33-659848]  10759  10    10760  10759  1      11075  19336
1844  [15:34:35-674445]  10759  82    10760  10759  1      11075  19254
1845  [15:34:36-968647]  10759  100   10760  10759  1      11075  19154
1846  [15:34:37-851576]  10759  50    10760  10759  1      11075  19104
1847  [15:34:47-125709]  10759  100   10760  10759  1      10945  19004
1848  [15:34:54-393140]  10759  2     10760  10759  1      10955  18984
1849  [15:34:58-673553]  10759  100   10760  10759  1      10955  18634
1850  [15:34:58-796113]  10759  10    10760  10759  1      10955  18624
1851  [15:34:58-809463]  10759  10    10760  10759  1      10955  18614
1852  [15:34:58-932177]  10759  10    10760  10759  1      10955  18604
1853  [15:34:59-068336]  10759  10    10760  10759  1      10955  18594
1854  [15:34:59-152456]  10759  5     10759  10758  1      10950  18589
1855  [15:34:59-927168]  10759  6     10759  10758  2      10998  18589

[1856 rows x 8 columns]